/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 70px;
}

#google-map{
    border: 0;
}

#header-keskele{
    text-align: center;
}

#main-container{
    margin-top: 15px;
}

#leheosade_hilisem{
    height: 105px;
    width:400px;  
}

.div-table{
    display:table;
    width:auto;
    background-color:#eee;
    border:1px solid  #666666;
    border-spacing:20px;/*cellspacing:poor IE support for  this*/
}
.div-table-row{
    display:table-row;
    width:auto;
    clear:both;

}
.div-table-col{
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    width:200px;
    border-bottom: 2px solid black;
}

.div-table-col-remove-button{
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    width:200px;
    alignment: top;
    top: auto;
    /*border-bottom: 2px solid black;*/
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    height: 30px;
}

/* Override default for footer */
.navbar {
    margin-bottom: 0;
}

.container {
    margin-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand > img {
    margin-left: 30px;
}

.panel.panel-primary {
    padding-left: 0;
    padding-right: 0;
}

.panel-heading h3 {
    padding-top: 8px;
}

ul.nav a:hover {
    color: #880000 !important;
}
